<section class="login_page-size">
  <div class="login_zone">
    <input class="login_input" placeholder="Login" [(ngModel)]="credentials.login">
    <input class="login_input" placeholder="Password" [(ngModel)]="credentials.password" type="password">

    <button class="botton-login" (click)="login()">LOGIN</button>
  </div>
</section>
