<section class="team_page-size">
  <div class="team_page-menu">
    <div class="text_menu-team"><strong>ТУРНІРИ</strong></div>
    <div class="team_bar-size" ng-scrollbars>
      <div *ngFor="let league of leagues; let $index = index">
        <h4 class="league_name" (click)="league.open = !league.open">
          {{league.name}}<i class="pull-right glyphicon" [ngClass]="{'glyphicon-chevron-down': league.open, 'glyphicon-chevron-right': !league.open}"></i>
        </h4>
        <div class="team" *ngIf="league.open">
          <div class="team_team-move" *ngFor="let type of league.children; let $index = index" (click)="changeTeam(type)">{{type.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="team_zone-right" ng-scrollbars>
    <div *ngIf="!selectedLeague.id"><img src=""/></div>
    <div class="team_cards-size" *ngFor="let team of selectedLeague.teams; let $index = index">
      <div class="team-cards_img" [ngStyle]="{'background-image': 'url(' + team.img + ')'}">
        <button class="button-delete_card" *ngIf="getCredentials()" type="button" (click)="deleteCardMore($index)">
          <strong><b>x</b></strong>
        </button>
      </div>
      <div class="team-cards-text">
        <div class="cards_name-player">
          {{ team.name }}<br>
          <span style="margin-left: 20px;">{{ team.lastname }}</span>
        </div>
        <div class="cards_number-player" [ngStyle]="{'background-color': team.color}">
          <span style="border-bottom: 2px solid black"><strong>{{ team.number }}</strong></span><br>
          <span style="font-size: 20px"><strong>{{ team.level }}</strong></span>
        </div>
      </div>
    </div>
    <div class="team_cards-plus" *ngIf="getCredentials() && selectedLeague.id">
      <button class="button-plus_card" type="button" (click)="addNewCard()">
        <strong><b>+</b></strong>
      </button>
    </div>
  </div>

</section>
