<section class="news_page-zone">
  <div class="news_content-zone">
    <div class="title_news-zone">
      <strong># НОВИНИ </strong>
    </div>
    <div *ngFor="let news of newsMoreList; let $index = index">
      <div class="new_more-post" >
        <div class="news_more-img" [ngStyle]="{'background-image': 'url(' + news.image + ')'}">
          <button *ngIf="getCredentials()" class="button-delete_news_more"  type="button" (click)="deleteNews(news.id, $index)">
            <strong><b>x</b></strong>
          </button>
        </div>
        <button class="button-new_more">
          <strong>
            <div class="news-text_more" (click)="showNewsModal.selected = news; showNewsModal.open = true">
              {{ news.title }}
            </div>
          </strong>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="modal show" *ngIf="showNewsModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ showNewsModal.selected.title }}</h3>
      </div>
      <div class="img_news-scrol">
      </div>
      <div class="modal-body" >
        {{ showNewsModal.selected.description }}
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="showNewsModal.open = false">OK</button>
      </div>
    </div>
  </div>
</div>
