<app-action-bar></app-action-bar>
<main class="content">
    <router-outlet></router-outlet>
</main>
<section class="botton-info"  ng-show="$root.showIconItems">
  <div class="info_zone-1">
    <div class="info_zone-text">
      ІНФОРМАЦІЯ
    </div>
    <div class="info_zone-content">
      <span>ПРЕЗИДІЯ</span><br>
      <span>ДОКУМЕНТИ</span><br>
      <span>ІНФОРМАЦІЯ ДЛЯ КОМАНД</span><br>
      <span>ІНФОРМАЦІЯ ДЛЯ СУДДІВ</span><br>
      <span>ІНФОРМАЦІЯ ДЛЯ ТРЕНЕРІВ</span>
    </div>
  </div>
  <div class="info_zone-2">
    <div class="info_zone-text">
      ТУРНІРИ
    </div>
    <div class="info_zone-content">
      <div class="info_zone-league">
        <span>ВИЩА ЛІГА (ЧОЛОВІКИ)</span><br>
        <span>ПЕРША ЛІГА (ЧОЛОВІКИ)</span><br>
        <span>СТУДЕНТСЬКА ЛІГА (ЧОЛОВІКИ)</span><br>
        <span>SUMMER LEAGUE(ЧОЛОВІКИ)</span><br>
        <span>SUMMER 3X3</span><br>
      </div>
      <div class="info_zone-league">
        <span>ВИЩА ЛІГА (ЖІНКИ)</span><br>
        <span>СТУДЕНТСЬКА ЛІГА (ЖІНКИ)</span><br>
        <span>SUMMER LEAGUE(ЖІНКИ)</span><br>
        <span>WINTER 3X3</span><br>
        <span>ВЧІФ</span>
      </div>
    </div>
  </div>
  <div class="info_zone-3">
    <div class="info_zone-text">
      КОНТАКТИ
    </div>
    <div class="info_zone-content">
      <i class="fa fa-phone" aria-hidden="true"></i><span>+380500542024</span> <span>- Посада</span><br>
      <i class="fa fa-phone" aria-hidden="true"></i><span>+380500542024</span> <span><span ng-controller="NotInterestingCtrl" ng-click="notInterestingFunction()">-</span> Посада</span><br>
      <i class="fa fa-map-marker" aria-hidden="true"></i><span> м.Івано-Франківськ</span><br>
      <i class="fa fa-envelope-o" aria-hidden="true"></i><span> marusiakvlad0011@gmail.com</span>
    </div>
  </div>
</section>
