<ng-template #display let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark">Close</button>
  </div>
</ng-template>

<div class="icons_poster-size">
  <div class="icons_text-move">
    <strong>WE CAN DO IT</strong>
  </div>
  <div class="icons_text-slog">
    <strong>IVANO-FRANKIVSK</strong>
  </div>
</div>
<section>
  <div class="news_page">
    <div class="news">
      <div class="news_title">
        <strong>НОВИНИ</strong>
        <button *ngIf="getCredentials()" class="news_plus" (click)="addNewsModal.open = true; addNewsModal.type = 'GAME'">
          <strong>+</strong>
        </button>
      </div>
      <div class="overflow_news" ng-scrollbars>
        <div class="sub_list">
          <div class="news_size" *ngFor="let news of newsList; let $index = index" accordion (click)="openDescription('news' + $index)">
            <div class="dd">
              <div class="news_img" [ngStyle]="{'background-image': 'url(' + news.image + ')'}"></div>
              <div class="news_zone">
                <div class="news_text">
                  <strong>
                    {{ news.title }}
                  </strong>
                </div>
                <button *ngIf="getCredentials()" class="button-delete_news"  type="button" (click)="addNewsModal.type = 'GAME'; deleteNews(news.id, $index)">
                  <strong><b>x</b></strong>
                </button>
              </div>
            </div>
            <div [hidden]="!isDescription('news' + $index)" class="stile_new">{{ news.description }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="advertising_news">
      <div class="advertising_title">
        <strong>СПОНСОРИ</strong>
        <button *ngIf="getCredentials()" class="advertising_plus" (click)="addSponsorModal.open = true">
          <strong>+</strong>
        </button>
      </div>
      <div class="advertising">
        <div class="adver_img" *ngFor="let adver of sponsorList" [ngStyle]="{'background-image': 'url(' + adver.image + ')'}"></div>
      </div>
    </div>
  </div>
</section>
<section class="instagram">
  <div class="follow">
    <div class="icon_instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <a class="text_instagram" href="http://www.instagram.com"><strong>FOLLOW US AT @FBS</strong></a>
    </div>
    <div class="instawidget"
         data-user-name="brooklynnets"
         data-amount="4"
         data-grid="4">
    </div>
  </div>
</section>
<section class="news_more">
  <div class="news_more-zone">
    <div class="news_more-text">
      <strong>ІНШІ НОВИНИ</strong>
      <button *ngIf="getCredentials()" class="news-more_plus" (click)="addNewsModal.open = true; addNewsModal.type = 'GENERAL'">
        <strong>+</strong>
      </button>
    </div>
    <div class="max_height-more"
         width="auto"
         height="250px"
         size="7px">
      <div *ngFor="let news of newsMoreList; let $index = index" >
        <div class="new_more-post" >
          <div class="news_more-img" [ngStyle]="{'background-image': 'url(' + news.image + ')'}">
            <button *ngIf="getCredentials()" class="button-delete_news_more"  type="button" (click)="addNewsModal.type = 'GENERAL'; deleteNews(news.id, $index)">
              <strong><b>x</b></strong>
            </button>
          </div>
          <button class="button-new_more" >
            <strong>
              <div class="news-text_more" (click)="showNewsModal.selected = news; showNewsModal.open = true">
                {{ news.title }}
              </div>
            </strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="top_news-bac">
  <div class="text_middle-move">
    <strong>BASTION DEFENDERS</strong>
  </div>
  <div class="icons_text-slog" style="color: #161616">
    <strong>IVANO-FRANKIVSK</strong>
  </div>
</section>
<!--<section class="news_more">-->
  <!--<div class="news_more-zone">-->
    <!--<div class="news_more-text">-->
      <!--<strong>РЕКЛАМА</strong>-->
      <!--<button *ngIf="getCredentials()" class="news-more_plus" (click)="addNewMoreNews()">-->
        <!--<strong>+</strong>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="advertising_sections">-->
      <!--<div class="advertising_card" *ngFor="let adver of sponsorList" [ngStyle]="{'background-image': 'url(' + adver.img + ')'}"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->


<div class="social" ng-show="$root.showIconItems" >
  <div class="dws-button dws-facebook"><a href="https://www.facebook.com/profile.php?id=100025468987680" target="_blank">
    <div class="dws-share"><i class="fa fa-facebook" aria-hidden="true"></i></div>
    <div class="dws-text"></div>
  </a></div>
  <div class="dws-button dws-vk"><a href="https://www.google.com.ua/webhp?ion=0" target="_blank">
    <div class="dws-share"><i class="fa fa-twitter" aria-hidden="true"></i></div>
    <div class="dws-text"></div>
  </a></div>
  <div class="dws-button dws-twitter"><a href="https://www.instagram.com/2018_fbs/">
    <div class="dws-share"><i class="fa fa-instagram" aria-hidden="true"></i></div>
    <div class="dws-text"></div>
  </a></div>
  <div class="dws-button dws-youtube"><a href="https://www.youtube.com/channel/UC-cWQN5im-C-RD4jy49qm_w?view_as=subscriber" target="_blank">
    <div class="dws-share"><i class="fa fa-youtube" aria-hidden="true"></i></div>
    <div class="dws-text"></div>
  </a></div>
  <div class="dws-button dws-envelope-o"><a href="https://mail.google.com/mail/u/1/#inbox" target="_blank">
    <div class="dws-share"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
    <div class="dws-text"></div>
  </a></div>
</div>

<div class="modal show" *ngIf="addNewsModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">NEWS</h3>
      </div>
      <div class="modal-body">
        <div class="padding_modal">
          <input placeholder="text" class="title_modal" [(ngModel)]="addNewsModal.title">
        </div>
        <div class="padding_modal">
          <input placeholder="image" type="file" accept="image/*" (change)="handleFileSelect($event)">
        </div>
        <div>
          <textarea placeholder="description" class="title_modal" [(ngModel)]="addNewsModal.description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="createNewNews()">OK</button>
        <button class="warning" type="button" (click)="addNewsModal.open = false">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal show" *ngIf="showNewsModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ showNewsModal.selected.title }}</h3>
      </div>
      <div class="img_news-scrol">
      </div>
      <div class="modal-body" >
        {{ showNewsModal.selected.description }}
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="showNewsModal.open = false">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal show" *ngIf="addSponsorModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">SPONSORS</h3>
      </div>
      <div class="modal-body">
        <input placeholder="image" type="file" accept="image/*" (change)="handleFileSelect($event)">
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="createSponsor()">OK</button>
        <button class="warning" type="button" (click)="addSponsorModal.open = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
