.one-card {
    margin-bottom: 30px;
}

.search {
    margin: 20px 0 30px 0;
}

.search input {
    border: none;
    border-bottom: 2px solid #8ab599;
    padding: 9px 0;
    margin-bottom: 30px;
    width: calc(100% - 150px);
}

.search .read-more {
    display: inline-block;
     float: right;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
