<section class="team_page-size">
  <div class="team_page-menu">
    <div class="text_menu-team"><strong>ФІЛЬТР</strong></div>
    <div class="team_bar-size" ng-scrollbars>
      <div>
        <h4 class="league_name" (click)="open = !open">
          {{ sexList[sex] ? sexList[sex] : 'Виберіть стать' }}<i class="pull-right glyphicon" [ngClass]="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
        </h4>
        <div class="team" *ngIf="open">
          <div class="team_team-move" *ngFor="let sex1 of sexList; let $index = index" (click)="sex = $index">{{sex1}}</div>
        </div>
      </div>
      <div style="padding: 20px 16px;">
        <span style="font-size: 16px; color: white">Виберіть вік: {{age}}</span>
        <input type="range" max='45' min='10' style="margin-top: 5px" [ngModel]="age"/>
      </div>
      <div class="text_register-pasport">
        Ви можете викласти свою анкету для того, щоб тренера та менеджери команд могли бачити інформацію про вас
      </div>
      <button class="button_add-pasport" (click)="addNewPasport()">
        <strong>REGISTER</strong>
      </button>
    </div>
  </div>
  <div class="team_page-content" ng-scrollbars>
    <div class="player_cards_size" *ngFor="let pasport of PasportList; let $index = index">
      <div class="player_cards_photo" [ngStyle]="{'background-image': 'url(' + pasport.img + ')'}">

      </div>
      <div class="player_info_size">
        <div class="player_info_1">
          <div class="player_info_icons">
            <div class="player_icons_size">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="player_info-1">
            {{ pasport.name }}
          </div>
        </div>
        <div class="player_info_2">
          <div class="player_info_icons">
            <div class="player_icons_size">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="player_info-2">
            {{ pasport.age }}
          </div>
        </div>
        <div class="player_info_3">
          <div class="player_info_icons">
            <div class="player_icons_size">
              <i class="fa fa-street-view" aria-hidden="true"></i>
            </div>
          </div>
          <div class="player_info-3">
            {{ pasport.growth }} / {{ pasport.weight }}
          </div>
        </div>
        <div class="player_info_4">
          <div class="player_info_icons">
            <div class="player_icons_size">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
          </div>
          <div class="player_info-4">
            {{ pasport.city }}
          </div>
        </div>
        <div class="player_info_5">
          <div class="player_info_icons">
            <div class="player_icons_size">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
          </div>
          <div class="player_info-5">
            {{ pasport.team }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
