<section class="photo_page-size">
  <div class="coach_text-title">
    <strong>
      # ФОТО
    </strong>
    <button *ngIf="getCredentials()" class="news-more_plus" (click)="addPhotoModal.open = true">
      <strong>ADD NEW</strong>
    </button>
  </div>
  <div class="photo_section">
    <a (click)="open(img.image);" *ngFor="let img of OpenImgList; let $index = index">
      <div class="photo_element"
           [ngStyle]="{'background-image': 'url(' + img.image + ')'}">
        <button *ngIf="getCredentials()" class="button-delete_news_more"  type="button" (click)="deletePhoto(img.id); $event.stopPropagation();">
          <strong><b>x</b></strong>
        </button>
      </div>
    </a>
  </div>
</section>


<div class="modal show" *ngIf="addPhotoModal.open">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">SPONSORS</h3>
      </div>
      <div class="modal-body">
        <input placeholder="image" type="file" accept="image/*" (change)="handleFileSelect($event)">
      </div>
      <div class="modal-footer">
        <button class="primary" type="button" (click)="createPhoto()">OK</button>
        <button class="warning" type="button" (click)="addPhotoModal.open = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
